target/classes/wc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="wcFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/wc" doc:name="HTTP"/>
        <wildcard-filter pattern="abc*" caseSensitive="true" doc:name="Wildcard"/>
        <file:outbound-endpoint path="src/main/resources/out" responseTimeout="10000" doc:name="File"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#['message does not matches the string']" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
</mule>
